@use "../../styles/functions" as *;

.button {
  width: var(--lock-size);
  height: var(--lock-size);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: transparent;
  overflow: visible;
  transition: transform var(--transition-fast);
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.icon {
  display: block;
  width: var(--lock-icon-size);
  height: var(--lock-icon-size);
  object-fit: contain;
}

// @media (max-width: 780px) {
//   .icon {
//     width: rem(30);
//     height: rem(30);
//   }
// }
